
article {
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    background: #fff;
    display: flex;
    width: 350px;
    height: 274px;
    margin-left: 50px;
    margin-bottom: 20px;
    flex-flow: row wrap;
    border-radius: 4px;
    align-content: space-around;
}
.name {
    width: 80%;
    display: contents;
    align-items: center;
}
ul {
    width: 100%;
}

.email {
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    justify-content: center;
    color: #302F2F;
    font-family: Helvetica Neue;
    font-size: 20px;
    font-weight: 400;
}
.birthay {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    justify-content: center;
    color: #302F2F;
    font-family: Helvetica Neue;
    font-size: 20px;
    font-weight: 400;
}
.line1 {
    width: 100%;
}
.line2 {  
    width: 100%;
}
footer{
    display: flex;
    align-items: flex-end;
    justify-content: end;
    width: 95%;
}
.logo1 {
    background-color: red;
    color: white;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.logo2 {
    background-color:F6F6F6;
    border: solid;
    border-color: #c1bebe;
    width: 30px;
    height: 30px;
}