.users {
    box-sizing: border-box;
    margin: 0;
}
label, input {
    font-size: 1.3rem;
}
h1 {
    margin-top: 50px;
    margin-left: 80px;
    margin-bottom: 85px;
    display: flex;
}
.formuopen__btn {
    margin-bottom: 50px;
    margin-left: auto;
    border-radius: 4px;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    padding: 15px;
    background-color: #555A88;
    color: white;
    display: flex;
}

.cards-container, .membrait {
    display: flex;
    flex-wrap: wrap;
    align-items:center
}